body{
    background-image: url(cool-background.png);  
}

h1{
   font-size: 50px; 
   text-align: center;
   color: white;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main-Content{
    width: 500px;
    height: 600px;
    background-color: white;
    margin-left: 380px;
    border-radius: 20px ;
}

#input-label{
    margin-top: 30px;
    margin-left: 50px;
    width : 300px;
    height:40px;
    border-radius:20px;
    border:  1px solid;
}

#btn{
    height: 42px;
    width:80px;
    background-color:cadetblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    border-radius: 20px;
}


#list{
    margin-left: 50px;
    margin-top: 10px;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#donebtn{
    margin-left: 100px;
    width: 50px;
    height: 30px;
    background-color: green;
    border-radius: 15px;
    color: white;

}

#deletebtn{
    margin-left: 15px;
    width: 55px;
    height: 30px;
    background-color: red;
    border-radius: 15px;
    color: white;
}
